<div class="mt-4">
    <h3>Create a course</h3>
    <form method="POST" action="/courses/store">
        <div class="form-group mt-4">
            <label for="name">Name course</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Enter course's name">
        </div>
        
        <div class="form-group mt-4">
            <label for="description">Description</label>
            <input type="text" class="form-control" name="description" id="description" placeholder="Enter course's description">
        </div>
        <div class="form-group mt-4">
            <label for="videoId">Video ID</label>
            <input type="text" class="form-control" name="videoId" id="videoId" placeholder="Enter course's videoId">
        </div>
        <div class="form-group mt-4">
            <label for="level">Level</label>
            <input type="text" class="form-control" name="level" id="level" placeholder="Enter course's level">
        </div>
        <button type="submit" class="btn btn-primary mt-4">Add course</button>
    </form>
</div>